<mat-card *ngIf="(cartItems$ | async) as cartItems" class="m-3 pt-0 pb-4">
    <mat-card-header>
        <button mat-flat-button (click)="closeCart()"><mat-icon>close</mat-icon></button>
    </mat-card-header>
    <mat-card-header>
        <h3 class="text-nowrap text-uppercase">🛒 Shopping cart 🛒</h3>
    </mat-card-header>

    <mat-card-content *ngIf="cartItems !== []" class="m-2">
        <app-cart-item *ngFor="let cartItem of cartItems | orderBy:'item.name'"
            [cartItem]="cartItem"
            (reduceItemInCartEvent)="reduceItem(cartItem)"
            (removeItemInCartEvent)="removeItem(cartItem)"
            (increaseItemInCartEvent)="increaseItem(cartItem)">
        </app-cart-item>
    </mat-card-content>

    <ul class="list-inline text-end mt-3 me-4">
        <li class="list-inline-item"><b>Total: </b></li>
        <li class="list-inline-item text-danger"><b>{{ (totalPrice$ | async) | currency }}</b></li>
    </ul>
    <div class="number-of-items text-end me-4"><small>{{ numberOfCartItems$ | async }} books</small></div>

</mat-card>
