<div class="height-100">  
    <div class="noise"></div>
    <div class="overlay"></div>
    <div class="terminal">
        <h1 class="my-5">
            Error <span class="errorcode">404</span> - page not found.
        </h1>
        <p class="output">
            The page you are looking for might have been removed, had its name changed
            or is temporarily unavailable.
        </p>
        <p class="output mb-4">
            Please try to return clicking back on the main menu, on top, or onto the
            <a href="/">homepage</a>.
        </p>
        <p class="output">Good luck! :)</p>
    </div>
</div>