::ng-deep {
    .mat-badge-content { background: red; color: white; transform: scale(0.5);}
}
.do-background-color { background-color: teal; }

.mat-drawer-container { background-color: transparent; height: 100%; }
.mat-drawer-content { overflow-x: hidden; }

.on-top {
    // position: fixed;
    z-index: 3;
    background-color: lightblue !important;
    margin-top: 1.1rem;

    &.other {
        background-color: lightcoral !important;
        margin-top: 2.2rem;
    }
}

.mat-mdc-raised-button.mat-mdc-button-base { height: 35px; }

@media screen and (max-width: 598px) {
    // .mat-mdc-raised-button.mat-mdc-button-base { height: 17px; }
    // .on-top {
    //     &.other { margin-top: 1.8rem; }
    // }
}
