<mat-sidenav-container>
    <mat-sidenav #sidenav mode="side" class="do-background-color mat-elevation-z6">
        <app-cart (closeEvent)="sidenav.close()"></app-cart>
    </mat-sidenav>

    <mat-sidenav-content>
        <button mat-raised-button class="on-top ms-2 position-fixed" [matBadge]="(numberOfCartItems$ | async)" (click)="sidenav.toggle()">
            {{ sidenav.opened ? 'Close' : 'Open' }}
            <mat-icon>shopping_cart</mat-icon>
        </button>
        <app-toolbar></app-toolbar>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
