<div class="body-html">
    <div class="content">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="row mb-5">
                        <div class="col-md-4 mr-auto">
                            <h3 class="thin-heading mb-4">New York</h3>
                            <p>9757 Aspen Lane
                                South Richmond Hill, NY 11419</p>
                        </div>
                        <div class="col-md-6 ml-auto">
                            <h3 class="thin-heading mb-4">Contact Info</h3>
                            <p>T: +1 (291) 939 9321 <br> E: <a href="/cdn-cgi/l/email-protection" class="__cf_email__"
                                    data-cfemail="e28b8c848da28f9b958780918b9687cc818d8f">[email&#160;protected]</a></p>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-md-12">
                            <h3 class="thin-heading mb-4">Message Us</h3>
                            <form [formGroup]="formData" (ngSubmit)="onSubmit()" *ngIf="!formSuccess">
                                <table aria-hidden="true">
                                    <td>
                                        <mat-form-field class="form-group">
                                            <mat-label>Your name</mat-label>
                                            <input matInput type="text" placeholder="Name" formControlName="name" required minlength="4" />
                                            <mat-error *ngIf="formData.controls['name'].hasError('required')">Name is required.</mat-error>
                                            <mat-error *ngIf="formData.controls['name'].hasError('minlength')">Name must be at least 4 characters long...</mat-error>
                                        </mat-form-field>
                                    </td>
                                    <td>
                                        <mat-form-field class="form-group">
                                            <mat-label>Your email</mat-label>
                                            <input matInput type="email" placeholder="Email" formControlName="email" required email />
                                            <mat-error *ngIf="formData.controls['email'].hasError('required')">Email format is required.</mat-error>
                                            <mat-error *ngIf="formData.controls['email'].hasError('email')">Please enter a valid email address.</mat-error>
                                        </mat-form-field>
                                    </td>
                                </table>
                                <mat-form-field class="form-group">
                                    <mat-label>A message from you</mat-label>
                                    <textarea matInput placeholder="Write your message" formControlName="message" required minlength="10"></textarea>
                                    <mat-error *ngIf="formData.controls['message'].hasError('required')">Message is required.</mat-error>
                                    <mat-error *ngIf="formData.controls['message'].hasError('minlength')">The 'message' must be at least 10 characters long...</mat-error>
                                </mat-form-field>
                                <div class="py-5">
                                    <button mat-stroked-button [disabled]="formData.invalid" class="btn btn-dark rounded-0 py-4 px-3">Send Message</button>
                                </div>
                            </form>
                            <div id="form-message-success" *ngIf="formSuccess">
                                <p><b>Your message complies with the form server!</b></p>
                                <p>Let's see about the Service...</p>
                                <div *ngIf="loading" class="text-center"><span class="spinner-border spinner-border-sm"></span></div>
                                <div *ngIf="!loading"><b>OK! You did it! 🫡</b></div>
                                
                                <div *ngIf="errors" class="alert alert-danger">{{ errors }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
