/* You can add global styles to this file, and also import other style files */
:root {
    --clngrx-blog-body-bg-color: lightpink;
    --clngrx-blog-body-color: rgb(37, 4, 11);
    --clngrx-docs-body-bg-color: lightgreen;
    --clngrx-docs-body-color: rgb(20, 34, 20);
    --clngrx-pricing-body-bg-color: red;
    --clngrx-pricing-body-color: rgb(255, 255, 255);
    --clngrx-sign-up-body-bg-color: lightblue;
    --clngrx-sign-up-body-color: rgb(29, 37, 39);
    --clngrx-slideshow-body-bg-color: green;
    --clngrx-slideshow-body-color: rgb(255, 255, 255);

    --placeHolder-color: rgb(138, 138, 138);
}

html, body { height: 100%; background-color: whitesmoke; }
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    overflow-x: hidden;

    // it's for 🔎:
    .mdc-text-field--filled:not(.mdc-text-field--disabled) { color: wheat; background-color: transparent !important; }
    // it's for 💬:
    .mdc-text-field:not(.mdc-text-field--disabled) .mdc-text-field__input { color: wheat; }

    &.blog {
        background-color: var(--clngrx-blog-body-bg-color);
        color: var(--clngrx-blog-body-color);
    }
    &.docs {
        background-color: var(--clngrx-docs-body-bg-color);
        color: var(--clngrx-docs-body-color);
    }
    &.pricing {
        background-color: var(--clngrx-pricing-body-bg-color);
        color: var(--clngrx-pricing-body-color);
    }
    &.sign-up {
        background-color: var(--clngrx-sign-up-body-bg-color);
        color: var(--clngrx-sign-up-body-color);
    }
    &.slideshow {
        background-color: var(--clngrx-slideshow-body-bg-color);
        color: var(--clngrx-slideshow-body-color);
    }
    &.contact {
        .mdc-text-field:not(.mdc-text-field--disabled) .mdc-text-field__input { color: darkblue; }
    }

}

input::-webkit-input-placeholder { color: var(--placeHolder-color) !important; }   /* Edge */
input:-ms-input-placeholder { color: var(--placeHolder-color) !important; }        /* Internet Explorer 10-11 */
input::placeholder { color: var(--placeHolder-color) !important; }
input:-moz-placeholder { color: var(--placeHolder-color) !important; }
input::-moz-placeholder { color: var(--placeHolder-color) !important; }


.link-button { cursor: pointer; }

.mat-mdc-snack-bar-container {
    &.black-snackbar {
        --mdc-snackbar-container-color: #051a30;
        --mat-mdc-snack-bar-button-color: #db4444;
        --mdc-snackbar-supporting-text-color: #fff;
    }
}

.mat-mdc-unelevated-button>.mat-icon { margin-left: 8px !important; }
